# Python
__pycache__/
*.pyc
venv/
.env

# YOLO output
ai/runs/
runs/

# Models
*.pt

# Dataset (big)
ai/dataset_fire_smoke/train/
ai/dataset_fire_smoke/valid/
ai/dataset_fire_smoke/test/
ai/dataset_fire_smoke/images/
ai/dataset_fire_smoke/labels/

# macOS junk
__MACOSX/
._*
.DS_Store
